  .todos {
      padding: 8px 24px;
  }

  .todos input.textfield {
    width: 300px;
    height: 32px;
    margin-right: 20px;
    font-size: 20px;
    vertical-align: top;
  }

  .todos button {
    height: 36px;
    vertical-align: top;
    border: solid 1px #24a0ed;
    border-radius: 4px;
    background-color: #24a0ed;
    color: #fff;
    padding: 0 12px;
    font-size: 16px;
  }

  ul li {
      font-size: 22px;
      padding-bottom: 6px;
  }
